body {
    font-family: Verdana, Helvetica, Arial, serif;
    font-size: 90%;
}

h1 {
    font-size: 3.5em;
    font-weight: bold;
}

li {
    margin-top: 6px;
    margin-bottom: 6px;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px;
    border-style: solid;
    border-color: lightgray;
}
th, td {
    padding: 10px;
}
#wrapper {
    background-color: #ffffff;
    max-width: 900px;
    margin: 8px auto;
    padding: 12px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.hero {
    margin: auto;
    align-items: center;
}

.hero img {
    width: 100%;
    height: auto;
}

div.button {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

a.button {
    background: #007f84;
    border-radius: 20px;
    box-shadow: #123a44 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 1rem 1rem;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    text-decoration: none;
  }